body {
    background-color: #191919;
    display:flex;
    justify-content: center;
    font-family: sans-serif;
    color: white;
}
.center{
    text-align: center;
}
.justify{
    text-align: justify;
}

.big-container {
    background-color: #212121;
    margin-top: 0px;
   width: 1200px;
}
.border-bot {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color:black;
}
.border {
    margin: 20px 0 0 0;
    border: 1px #22427c solid;
    border-radius: 50px ;
    padding-bottom: 20px;
    margin: 15px;
}
.bck-darker {
    border-radius: 0 5px 0 5px;
    border: 1px solid white;
    padding:5px;
    background-color: #22427c;
}
.bouton {
    border:1px solid white;
    background-color:white;
    border-radius: 5px;
    padding:8px;
    font-weight: bolder;
    
}
#nasa figure{
    margin:0;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    
}
#nasa figcaption{
    padding-left: 50px;
    padding-right: 20px;
}
#nasa p{
    padding-top: 20px;
}
.cropped {
    border-radius: 50px;
    max-width:50vw;
    max-height: 40vh;
    padding: 10px;
    object-fit: scale-down;
}
a:link, a:visited {
    text-decoration: none;
    color:#191919;
}
a:hover {
    color:#1b7baf;
}
 
h1 {
    color:#1b7baf;
}
h2 {
    color:#1b7baf;
    margin: 0 0 0 0 ;
    padding:0 20px 0 20px;
}
h3 {
    color:#1b7baf;
    text-align:center;
}
em {
    color:#1b7baf;
    font-weight: bold;
    font-style:normal;
}
.gnomebar {
    text-align:center;
    top: 0px;
    background:#22427c;
    color:white;
    font-weight: 800;
}
.navbar {
 
    margin-top:0px;
    padding: 0px 10px 10px 10px;
    background-color:#212121;
    color: white;
    justify-content:space-between;  
    align-items:baseline;
    
}

.flex-col {
    display:flex;
    flex-flow: column nowrap;
}
.flex-line {
    display:flex;
    flex-flow: row nowrap;
}
.navbar-item{
    
    font-size:45px;
    text-align:center;
    width:55px;
    height:55px;
    border-radius:10px;
    margin:5px;
    background-color:grey;
}

.presentation{
   padding:20px 20px 60px 20px;
   color:white;
   
}
.presentation-image img{
    border-radius:50% 10% 10% 50%;
    margin-left: 50px;
}
.presentation-texte{
    padding-left:10px;
    text-align: justify ;
}
.salute{
    font-size:30px;
}
.portfolio, .diplomes{
    
    padding:20px;
}
.projet{
    width:230px;
    height:200px;
    border-radius:15px;
    margin:5px;
    padding:10px;
    background-color:#1b7baf;
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;

}
table {
    text-align: center;
    padding:30px 20px 20px 60px;
    color:white;
   
}
table th{
    background-color: #22427c;
    
}
table td{
    padding:10px;
    border: 1px solid black;
}
.textearea{
    width:100%;
}
.parent{
    display:flex;
    flex-flow: column wrap;
    align-items:center;
}